*{
  box-sizing: border-box;
}

.banner {
  background-color: rgb(229, 236, 236);
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.myName {
  text-align: center;
  font-size: 100px;
  color: whitesmoke;
}

ul.nav {
  
}

#aboutMe {
  text-align: center;
  padding-bottom: 15px;
}

img {
  width: 500px;
}

.left {
  float: left;
}

.paragraph {
  float: right;
  width: 40%;
  padding-left: 40px;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}