*{
  box-sizing: border-box;
}

.background {
  background-color:white;
}

.banner {
  background-color: rgb(229, 236, 236);
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url("https://newevolutiondesigns.com/images/freebies/colorful-background-1.jpg");
  background-size: cover;

}
/*-------Navegation Bar-------*/
.nav {
  padding-left: 30%;
  padding-right: 20%;
}

.nav-link{
  padding: 1rem 1rem;
}

.nav li a {
  color:rgb(216, 56, 108);
}

ol li a {
  color: rgb(99, 52, 178);
}

.myName {
  text-align: center;
  font-size: 100px;
  color: whitesmoke;
  font-family: 'Fredoka One', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
}

h2, li{
  font-family: 'Fredoka One', cursive;
}

#aboutMe {
  text-align: center;
  padding-bottom: 15px;
  color:rgb(65, 73, 109);
}

#education, #projects {
  padding-bottom: 15px;
  color:rgb(65, 73, 109);
}

img {
  width: 500px;
  padding: 10px;
}

.left {
  float: left;
}

.paragraph {
  float: right;
  width: 40%;
  padding-left: 40px;
}

a {
  color: rgb(63, 36, 81);
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.line {
  border-top: 2px solid #BFC9CA;
  margin-top: 40px;
  margin-left: 130px;
  margin-right: 130px;
  padding-bottom: 5%;
}

h2 {
  text-align: center;
}